@media (max-width: 576px) {
  #subhead {
    font-size: 16px!important;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  .structured-block-para {
    font-size: 20px!important;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  .structured-block-para-btn {
    font-size: 12px!important;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  .structured-block-div {
    padding: 25px!important;
  }
}

@media (max-width: 450px) {
  .cta-btn {
    font-size: 12px!important;
  }
}

@media (max-width: 1200px) {
  .nav-cta-btn {
    font-size: 11px!important;
  }
}

@media (max-width: 768px) {
  .nav-cta-btn {
    font-size: 9px!important;
  }
}

@media (max-width: 576px) {
  .nav-cta-btn {
    font-size: 12px!important;
  }
}

@media (max-width: 600px) {
  .testimonial-img {
    height: 70px!important;
    width: 70px!important;
  }
}

@media (max-width: 600px) {
  .testimonial-div {
    height: 70px!important;
    width: 250px!important;
  }
}

@media (max-width: 577px) {
  #bannerImgTest {
    height: 500px!important;
  }
}

@media (max-width: 400px) {
  #bannerImgTest {
    height: 350px!important;
  }
}

@media (min-width: 1400px) {
  #bannerImgTest {
    height: 400px;
  }
}

@media (max-width: 768px) {
  #preheading {
    font-size: 16px!important;
  }
}

@media (max-width: 768px) {
  #preheading-1 {
    font-size: 16px!important;
  }
}

@media (max-width: 400px) {
  #mainHeading {
    font-size: 32px!important;
  }
}

@media (max-width: 400px) {
  #mainHeading-1 {
    font-size: 30px!important;
  }
}

@media (max-width: 400px) {
  .optSecPara {
    font-size: 17px!important;
  }
}

@media (max-width: 400px) {
  .strategyPara {
    font-size: 17px!important;
  }
}

@media (max-width: 400px) {
  .subHeadDesc {
    font-size: 20px!important;
  }
}

